<table class="ui five column table">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.header }}</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John</td>
      <td>Approved</td>
      <td>22</td>
      <td>Male</td>
      <td>
        <span *ngFor="let action of actions">
          <app-button
            *ngIf="!action.globalAction"
            [content]="action.content"
            [icon]="action.icon"
            [primary]="action.primary"
            [red]="action.red"
            [yellow]="action.yellow"
          ></app-button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
